/* SPDX-License-Identifier: MIT */

/* This example overlay describes two daisy-chained MCP23017 GPIO extenders
 * connected to the ROCKPro64's I2C pins on its pin header.
 * Refer to mcp23017.dts for more information.
 */

/dts-v1/;
/plugin/;

&i2c8 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	mcp23017_1: mcp23017@20 {			/* New child node with label "mcp23017_1", I2C address 0x20 */
		compatible = "microchip,mcp23017";	/* Identifier for kernel to know what driver to load */
		reg = <0x20>;				/* Describe the I2C address as being 0x20 */
		gpio-controller;
		#gpio-cells = <2>;
	};

	mcp23017_2: mcp23017@21 {			/* New child node with label "mcp23017_2", I2C address 0x21 */
		compatible = "microchip,mcp23017";	/* Identifier for kernel to know what driver to load */
		reg = <0x21>;				/* Describe the I2C address as being 0x21 */
		gpio-controller;
		#gpio-cells = <2>;
	};
};
